<div class="content-beneficios">
    <div class="aislaciones-tipos">
        <div class="aislaciones-list">
            <h2>Las principales Aislantes</h2>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Espuma de Poliuretano y Elastomerica</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Lana de Roca</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Lana de Vidrio</span>
            </div>
        </div>
        <div class="aislaciones-list">
            <h2>Las coberturas/proteccion mecanica</h2>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Aluminio</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Acero Galvanizado</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Acero Inoxidable</span>
            </div>
        </div>
        <div class="aislaciones-list">
            <h2>Las principales aplicaciones</h2>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Cañerias</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Tanques</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Chimeneas</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Equipos</span>
            </div>
            <div class="card-especificacion">
                <i class='bx bx-badge-check'></i>
                <span>Calderas</span>
            </div>
        </div>
    </div>
    <div class="beneficios-principales">
        <h2>Prinicipales beneficios</h2>
        <div class="beneficios-cards">
            <div class="card-beneficios">
                <i class='bx bx-money-withdraw'></i>
                <span>Ahorro Economico</span>
            </div> 
            <div class="card-beneficios">
                <i class='bx bx-bulb'></i>
                <span>Ahorro energeticos</span>
            </div> 
            <div class="card-beneficios">
                <i class='bx bx-shield'></i>
                <span>Proteccion personal para el personal</span>
            </div> 
            <div class="card-beneficios">
                <i class='bx bx-line-chart'></i>
                <span>Optimizacion de los Procesos</span>
            </div> 
            <div class="card-beneficios">
                <i class='bx bx-volume-low'></i>
                <span>Reduccion del nivel de ruido</span>
            </div> 
            <div class="card-beneficios">
                <i class='bx bxs-hot'></i>
                <span>Proteccion ignifugas</span>
            </div>  
        </div>
    </div>
</div>