<!-- pie de pagina -->
<footer class="page-end" id="footer">
    <!-- Contenido del pie de página -->
    <div class="content-end">
        <!-- Sección de enlaces para el servicio al cliente -->
        <div class="links_client">
            <div class="card_link">
                <h3>Servicio al cliente</h3>
                <a href="#" id="btnTerminos">Terminos y Condiciones</a>
                <a href="#" id="btnPrivacidad">Privacidad</a>
            </div>
        </div>
        <!-- Sección de enlaces sociales para Aislaciones Térmicas Cardozo -->
        <div class="link_social">
            <h3>Aislaciones Térmicas Cardozo</h3>
            <!-- Iconos enlazados a correo electrónico, teléfono y WhatsApp -->
            <div class="social">
                <a href="mailto:aislacionescardozo@live.com.ar" target="_blank"><i class="bx bx-envelope"></i></a>
                <a href="tel:+541139400647"><i class="bx bx-phone"></i></a>
                <a href="https://www.instagram.com/aislacionescardozo" target="_blank"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.facebook.com/profile.php?id=61556885042230&mibextid=ZbWKwL" target="_blank"><i class='bx bxl-facebook'></i></a>
            </div>
        </div>
    </div>
    <!-- Sección de derechos de autor y año -->
    <div class="copy">
        <p>&copy; 2024 Aislaciones Termicas Cardozo - Bytech Company</p>
    </div>
    <div class="buttonTop"><a href="#header" id="Top"><i class='bx bx-chevron-up'></i></a></div>
</footer>
