<!-- Encabezado de la página -->
<header id="header">
    <!-- Título con un enlace a la página de inicio -->
    <div class="title">
        <a href="/"><h1>Aislaciones Térmicas Cardozo</h1></a>
    </div>
    <!-- Barra de navegación y contenido de búsqueda -->
    <nav class="search-content">
        <!-- Contenedor de búsqueda con icono y campo de búsqueda -->
        <div class="search">
            <i class=" bx bx-search"></i>
            <input type="search" name="search" id="search">
        </div>
        <!-- Icono de carrito de compras [comentado] -->
        <!-- <i class='bx bx-cart' id="carrito"></i> -->
    </nav>
</header>

<!-- 
    contenido de materiales en el carrito de consulta [comentado]
    <div id="consulta-list" class="consulta-list" style="display: none;">
        <a id="contactar" href="mailto:correo@ejemplo.com" style="display: none;">Contactar</a>
    </div> 
-->