<div class="content-montaje">
    <h2>
        Montaje de Aislacion Termica
    </h2>
    <p>
        hacemos aislación térmica con media cañas de lana mineral atadas con alambre galvanizado después hacemos un recubrimiento con chapa de acero inoxidable, aluminio o galvanizado. todo eso sujeto con tornillo Parker galvanizados o acero inoxidable. En el caso de la coquilla o plancha de armaflex va sementado con pegamento y también cubierto con chapa.
    </p>
    <div class="galery-montaje">
        <div class="img1 galery-img">
            <img src="/img1.jpg" alt="">
        </div>
        <div class="img2 galery-img">
            <img src="/img2.jpg" alt="">
        </div>
        <div class="img3 galery-img">
            <img src="/img3.jpg" alt="">
        </div>
        <div class="img4 galery-img">
            <img src="/img4.jpg" alt="">
        </div>
        <div class="img5 galery-img">
            <img src="/img5.jpg" alt="">
        </div>
        <div class="img6 galery-img">
            <img src="/img6.jpg" alt="">
        </div>
        <div class="img7 galery-img">
            <img src="/img7.jpg" alt="">
        </div>
        <div class="img8 galery-img">
            <img src="/img8.jpg" alt="">
        </div>
        <div class="img9 galery-img">
            <img src="/img9.jpg" alt="">
        </div>
    </div>
</div>