<div class="privacidad" id="privacidad">
    <div class="privacidad-content">
        <button id="close-privacidad"><i class="bx bx-x"></i></button>
    <h2>Politica de Privacidad</h2>
    <ul>
        <li>
            <h3>Información Recopilada</h3>
            <p>Recopilamos información personal como nombres, direcciones de correo electrónico y otra información solo cuando se proporciona voluntariamente por los usuarios. También podemos recopilar información no personal de forma automática, como la dirección IP y el tipo de navegador</p>
        </li>
        <li>
            <h3>Uso de la Información</h3>
            <p>La información recopilada se utiliza para proporcionar y mejorar nuestros servicios, personalizar la experiencia del usuario y enviar información relevante. No compartiremos, venderemos ni alquilaremos su información personal a terceros sin su consentimiento, excepto cuando sea necesario para proporcionar un servicio solicitado</p>
        </li>
        <li>
            <h3>Seguridad</h3>
            <p>Tomamos medidas para proteger la información personal de nuestros usuarios. Sin embargo, ninguna transmisión por Internet o método de almacenamiento electrónico es completamente seguro</p>
        </li>
        <li>
            <h3>Cambios en la Política de Privacidad</h3>
            <p>Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Los cambios serán efectivos cuando se publiquen en el sitio web</p>
        </li>
    </ul>
    </div>
</div>