<div class="terminos" id="terminos">
    <div class="terminos-content">
        <button id="close-terminos"><i class="bx bx-x"></i></button>
    <h2>Terminos y Condiciones</h2>
    <ul>
        <li>
            <h3>Aceptación de Términos y Condiciones</h3>
            <p>Al acceder y utilizar este sitio web, aceptas estar sujeto a estos Términos y Condiciones. Si no estás de acuerdo con alguno de los términos, por favor, abstente de utilizar el sitio</p>
        </li>
        <li>
            <h3>Uso del Sitio Web</h3>
            <p>El uso de este sitio web está sujeto a las leyes y regulaciones aplicables y a estos Términos y Condiciones. No debes utilizar el sitio de manera que pueda dañar, inhabilitar, sobrecargar o deteriorar el funcionamiento del sitio o interferir con el uso y disfrute del mismo por parte de terceros</p>
        </li>
        <li>
            <h3>Propiedad Intelectual</h3>
            <p>Todo el contenido, diseño y código del sitio web son propiedad nuestra o se utilizan con permiso. Queda prohibido copiar, modificar, distribuir, mostrar, transmitir o vender cualquier contenido sin nuestro consentimiento previo por escrito</p>
        </li>
        <li>
            <h3>Enlaces a Terceros</h3>
            <p>Este sitio puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido, la política de privacidad o las prácticas de seguridad de estos sitios. No asumimos responsabilidad por el contenido o las prácticas de terceros</p>
        </li>
    </ul>
    </div>
</div>
